.press {
  padding: 50px;
  background-color: grey;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.press__heading {
  width: 80%;
  margin: 0 auto;
  font-size: 36px;
  color: rgba(0, 212, 255, 1);
  font-weight: 800;
  text-align: left;
  padding: 20px 0;
}
.press__content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  color: white;
  text-align: left;
  font-size: 18px;
  width: 80%;
}
.press__image {
  width: 250px;
  background-image: url("../../images/AdorbsFinnegan.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 25px 0 0 25px;
  background-color: white;
  padding: 0;
}
.press__info {
  width: 500px;
  margin: auto 0;
  padding: 15px;
  background-color: white;
  color: black;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0 25px 25px 0;
  border: none;
  z-index: 1;
}
.press__link {
  color: black;
  font-weight: 800;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: color 250ms ease-in;
  padding-left: 0.5em;
}
.press__link::after {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  left: 0px;
  top: -5px;
  width: calc(100% + 20px);
  background: orange;
  border-radius: 0;
  z-index: -1;
  transform: scaleX(0.05);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
.press__info:hover .press__link::after {
  transform: scaleX(1);
}
.press__link:hover {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 900px) {
  .press {
    padding: 20px;
  }
  .press__content {
    max-width: 500px;
  }
  .press__info {
    height: 200px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .press__content {
    margin: 0;
    width: 100%;
  }

  .press__info {
    width: 300px;
    padding: 10px;
    margin: 0;
    padding-left: 10px;
  }
  .press__info-text {
    display: none;
  }
}
