.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  background-image: url("../../images/FinneganCoverImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  min-height: 300px;
  position: relative;
}
.about__content {
  width: 75%;
  z-index: 1;
  background-color: white;
  border-radius: 85px;
  padding: 25px;
  position: relative;
  margin: 75px;
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.about__tail {
  position: absolute;
  left: -35px;
  bottom: 60px;
  overflow: hidden;
  z-index: -4;
  width: 0;
  height: 0;
  border-right: 175px solid white;
  border-bottom: 75px solid transparent;
}

.about__p {
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  z-index: 2;
  overflow: hidden;
}
.about::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}
.about__fox-image {
  border-radius: 50%;
  max-width: 25%;
  background-color: white;
  z-index: 3;
}
.about__fox-image:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform: rotate(3deg);
  transform: rotate(0.3rad);
  transform: rotate(3grad);
  transform: rotate(0.03turn);
}
.highlight {
  color: rgba(0, 212, 255, 1);
  font-weight: 800;
  display: inline;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1200px) {
  .about__p {
    font-size: 18px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 900px) {
  .about__p {
    font-size: 14px;
    line-height: 16px;
  }
  .about__content {
    margin: 25px;
  }
  .about__tail {
    left: -20px;
    bottom: 60px;
    border-right: 45px solid white;
    border-bottom: 25px solid transparent;
  }
}
@media only screen and (max-width: 650px) {
  .about__p {
    font-size: 12px;
    line-height: 14px;
  }
  .optional {
    display: none;
  }
  .about__tail {
    left: -20px;
    bottom: 40px;
    border-right: 25px solid white;
    border-bottom: 15px solid transparent;
  }
}
