.books__container-inner {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 850px) {
  .books__container-inner {
    display: flex;
    flex-direction: column;
  }
}
