.books {
  padding: 50px;
}

.books__cont {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 10px;
  position: relative;
  padding: 50px;
}
.books__bg {
  transform: rotate(3deg);
  z-index: -1;
  position: absolute;
  left: -250px;
  top: 0;
  background-color: rgba(0, 212, 255, 1);
  height: 110%;
  width: 1800px;
}
.books__heading {
  width: 80%;
  margin: 0 auto;
  font-size: 36px;
  color: rgba(0, 212, 255, 1);
  font-weight: 800;
  text-align: left;
  padding-top: 20px;
  margin-top: 100px;
}
.books__subheading {
  width: 80%;
  margin: 0 auto 25px auto;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  text-align: left;

  padding-top: 5px;
}

@media only screen and (max-width: 1200px) {
  .books__heading {
    font-size: 32px;
    padding-top: 10px;
  }
  .books__subheading {
    margin: 0 auto 15px auto;
    font-size: 20px;
  }
  .books__cont {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .books__heading {
    font-size: 24px;

    padding-top: 10px;
  }
  .books__subheading {
    margin: 0 auto 15px auto;
    font-size: 14px;
  }
}

@media only screen and (max-width: 650) {
  .books__heading {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
  }
  .books__subheading {
    margin: 0 auto 15px auto;
    font-size: 12px;
  }
  .books__cont {
    padding: 10px;
  }
}
