.header__navItem-text {
}
.header__navItem {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 14px;
  min-width: 75px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  transition: transform 250ms ease-in;
  z-index: 1;
  margin: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.header__navItem::after {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  left: -10px;
  top: -5px;
  width: calc(100% + 20px);
  background: rgb(55, 212, 87);
  border-radius: 0;
  z-index: -1;
  transform: scaleX(0.001);
  transform-origin: left;
  transition: transform 250ms ease-in;
  text-decoration: none;
}
.header__navItem:hover {
  text-decoration: none;
  color: white;
}

.header__navItem-text:hover .header__navItem::after {
  transform: scaleX(1);
}

.header {
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(55, 212, 87);
  background: linear-gradient(
    0deg,
    rgba(55, 212, 87, 1) 16%,
    rgba(0, 212, 255, 1) 36%
  );
  border-bottom: 2px solid white;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.header__title {
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px rgb(136, 46, 250, 0.5);
  z-index: 5;
  font-weight: 500;
  animation: fadeIn 1s ease-in;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__menuList {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.header__listItem {
  margin: 10px;
}
