.header__navItem-text {
  text-decoration: none;
}
.header__navItem {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 18px;
  min-width: 75px;
  opacity: 1;
  padding: 15px;
  text-align: center;
  transition: transform 250ms ease-in;
  z-index: 1;
  margin: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.header__navItem-active {
  border-bottom: 2px solid white;
  color: white;
}
.header__navItem::after {
  content: "";
  position: absolute;
  height: calc(100% + 3px);
  left: -10px;
  top: -5px;
  width: calc(100% + 20px);
  background: rgb(55, 212, 87);
  border-radius: 0;
  z-index: -1;
  transform: scaleX(0.001);
  transform-origin: left;
  transition: transform 250ms ease-in;
  text-decoration: none;
}
.header__navItem:hover {
  text-decoration: none;
  color: white;
}

.header__navItem-text:hover .header__navItem::after {
  transform: scaleX(1);
}

.header {
  height: 10vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgb(55, 212, 87);
  background: linear-gradient(
    0deg,
    rgba(55, 212, 87, 1) 16%,
    rgba(0, 212, 255, 1) 36%
  );
  border-bottom: 2px solid white;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  left: 0;
  z-index: 5;
}

.header__title {
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px rgb(136, 46, 250, 0.5);
  z-index: 5;
  font-weight: 500;
  animation: fadeIn 1s ease-in;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__hamburger {
  height: 24px;
  width: 24px;
  background-image: url("../../images/hamburger.svg");
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  margin-right: 16px;
}
.header__menuList {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  justify-content: center;
}
.header__listItem {
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .header__title {
    font-size: 36px;
    font-weight: 800;
  }
}
@media only screen and (max-width: 900px) {
  .header {
    height: 10vh;
    left: 0;
    top: 0;
  }
  .header__title {
    font-size: 24px;
    font-weight: 800;
  }
  .header__navItem {
    font-size: 14px;
    padding: 0;
    margin: 2px;
  }
}
@media only screen and (max-width: 678px) {
  .header__title {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: none;
  }
}
