.footer {
  width: 100vw;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
  padding: 24px;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .footer {
    font-weight: 400;
    padding: 12px;
    font-size: 10px;
  }
}
