.fun {
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
}
.fun__heading {
  width: 80%;
  margin: 0 auto;
  font-size: 36px;
  color: rgba(0, 212, 255, 1);
  font-weight: 800;
  text-align: left;
  padding-top: 20px;
}
.fun__subheading {
  width: 80%;
  margin: 0 auto 75px auto;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  text-align: left;

  padding-top: 5px;
}
.fun__container {
  width: 110%;
  margin: 0;
  display: flex;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  flex-flow: column wrap;
  justify-content: space-between;
  position: relative;
  padding: 50px 0;
}
.fun__bg {
  transform: rotate(3deg);
  z-index: -1;
  position: absolute;
  left: -50px;
  top: 0;
  background-color: rgb(55, 212, 87);
  height: 100%;
  width: 125%;
}
.fun__download {
  display: grid;
  max-width: 600px;
  grid-template-columns: repeat(3, minmax(200px, 2fr));
  grid-gap: 10px;
  margin: 0 auto;
}
.fun__game {
  width: 50%;
}
.fun__item {
  max-width: 150px;
  max-height: 150px;
  border-radius: 0 10px 0 10px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.fun__item-image {
  height: 150px;
  width: 150px;
  margin: 0;
  padding: 0;
}
.fun__item-title {
  position: absolute;
  color: rgb(255, 255, 255, 0);
  background-color: rgb(55, 212, 87, 0);
  font-weight: 800;
  left: 0;
  top: -75px;
  width: 100%;
  height: 75px;
  margin: auto;
  z-index: 3;
  text-align: left;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  padding-left: 10px;
}
.fun__item:hover .fun__item-title {
  background-color: rgb(55, 212, 87, 0.75);
  color: rgb(255, 255, 255, 1);
  top: 0;
}
.fun__item-linkBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 212, 255, 1);
  text-align: left;
  position: absolute;
  bottom: -100px;
  left: 0px;
  font-size: 12px;
  transition: 1s;
  transition-delay: 0.1s;
  padding-left: 10px;
}
.fun__item:hover .fun__item-linkBox {
  bottom: 0;
}

.fun__item-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
}

.fun__item-link:hover {
  font-weight: 400;
  text-decoration: none;
}
.downloads__button {
  width: 150px;
  margin: 20px auto;
  background-color: rgb(55, 212, 87);
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 800;
}

@media only screen and (max-width: 1200px) {
  .fun__heading {
    font-size: 24px;
  }
  .fun__subheading {
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .fun__heading {
    font-size: 20px;
  }
  .fun__subheading {
    font-size: 16px;
  }
  .fun__download {
    grid-template-columns: repeat(2, minmax(200px, 2fr));
    grid-gap: 5px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 650px) {
  .fun__heading {
    font-size: 18px;
    padding: 0;
  }
  .fun__subheading {
    margin: 0 auto 50px auto;
    font-size: 14px;
  }
}
@media only screen and (max-width: 550px) {
  .fun__download {
    grid-template-columns: repeat(1, minmax(200px, 2fr));
    padding: 0;
  }
}
