.book {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  max-width: 850px;
}
.book__image {
  max-height: 150px;
  max-width: 150px;
  margin-right: 0px;
  border-radius: 10px 0 0 10px;
}
.book__info {
  color: black;
  text-align: center;

  background-color: white;
  border-radius: 0 10px 10px 0;
  padding: 0;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.book__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}

.book__subtitle {
  font-weight: 800;
  color: black;
  font-size: 18px;
  padding: 5px;
  padding-bottom: 0;
}

.book__contrib {
  max-width: 75%;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
  margin: 0 auto;
}

.book__buyItem {
  text-decoration: none;
  color: rgb(136, 46, 250);
  font-weight: 800;
  font-size: 14px;
  width: 100%;
  opacity: 1;
  padding: 0;
  background-color: rgba(0, 0, 139, 0.2);
  text-align: center;
  transition: background-color 0.5s ease;
  z-index: 1;
  margin: 0;
  margin-top: 10px;
  box-shadow: rgb(136, 46, 250);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 0;
}
.book__buyItem:hover {
  background-color: rgb(136, 46, 250, 0.7);
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 1150px) {
  .book__title {
    font-size: 14px;
    line-height: 18px;
  }

  .book__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .book__contrib {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 1080px) {
  .book__title {
    font-size: 14px;
    line-height: 16px;
  }

  .book__subtitle {
    font-size: 16px;
    line-height: 18px;
  }

  .book__contrib {
    font-size: 10px;
    line-height: 12px;
  }
}
@media only screen and (max-width: 900px) {
  .book__info {
    min-width: 125px;
  }
  .book__title {
    font-size: 14px;
    line-height: 18px;
  }

  .book__subtitle {
    font-size: 18px;
    line-height: 20px;
  }

  .book__contrib {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 650px) {
  .book__subtitle {
    margin: 0 auto 5px auto;
    font-size: 14px;
    line-height: 14px;
  }
  .book__contrib {
    font-size: 10px;
  }
  .book__buyItem {
    font-weight: 400;
    font-size: 12px;
  }
}

@media only screen and (max-width: 490px) {
  .book__title {
    display: none;
  }
}
